<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czx.yimem.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="com.czx.yimem.entity.Customer" >
    <constructor >
      <idArg column="cus_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="m_user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="to_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="start_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    cus_id, id, m_user_id, to_user, create_time, start_time, end_time, remark, phone,
    state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from customer
    where cus_id = #{cusId,jdbcType=INTEGER}
  </select>

  <select id="findBycustomer" resultMap="BaseResultMap" parameterType="com.czx.yimem.entity.Customer" >
    select
    <include refid="Base_Column_List" />
    from customer
    <where>
      1=1
      <if test="cusId != null and cusId != ''">
        and cus_id = #{cusId}
      </if>
      <if test="toUser != null and toUser != ''">
        and to_user = #{toUser}
      </if>
      <if test="state != null and state != ''">
        and state = #{state}
      </if>
    </where>
    ORDER BY create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where cus_id = #{cusId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czx.yimem.entity.Customer" >
    insert into customer (cus_id, id, m_user_id,
      to_user, create_time, start_time,
      end_time, remark, phone,
      state)
    values (#{cusId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{mUserId,jdbcType=INTEGER},
      #{toUser,jdbcType=VARCHAR}, now(), #{startTime,jdbcType=TIMESTAMP},
      #{endTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.czx.yimem.entity.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cusId != null" >
        cus_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="mUserId != null" >
        m_user_id,
      </if>
      <if test="toUser != null" >
        to_user,
      </if>
        create_time,
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mUserId != null" >
        #{mUserId,jdbcType=INTEGER},
      </if>
      <if test="toUser != null" >
        #{toUser,jdbcType=VARCHAR},
      </if>
      now(),
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czx.yimem.entity.Customer" >
    update customer
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="mUserId != null" >
        m_user_id = #{mUserId,jdbcType=INTEGER},
      </if>
      <if test="toUser != null" >
        to_user = #{toUser,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where cus_id = #{cusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czx.yimem.entity.Customer" >
    update customer
    set id = #{id,jdbcType=INTEGER},
      m_user_id = #{mUserId,jdbcType=INTEGER},
      to_user = #{toUser,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where cus_id = #{cusId,jdbcType=INTEGER}
  </update>
</mapper>
