<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czx.yimem.dao.GroupMemberMapper">
  <resultMap id="BaseResultMap" type="com.czx.yimem.entity.GroupMember">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="dep_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="m_user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="state" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, dep_id, m_user_id, create_time, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rc_group_men
    where id = #{id,jdbcType=INTEGER}  and state = "1" and
  </select>

  <select id="selectBychild" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
    count(*)
    from rc_group_men
    where dep_id = #{id,jdbcType=INTEGER}  and state = "1"
  </select>
  <select id="selectByMember" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rc_group_men
    where m_user_id = #{mid,jdbcType=INTEGER}  and state = "1"
  </select>

  <delete id="deleteByMember" parameterType="java.lang.Integer">
    delete from rc_group_men
    where m_user_id = #{mid,jdbcType=INTEGER}
  </delete>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rc_group_men
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czx.yimem.entity.GroupMember">
    insert into rc_group_men (id, dep_id, m_user_id,
      create_time, state)
    values (#{id,jdbcType=INTEGER}, #{depId,jdbcType=INTEGER}, #{mUserId,jdbcType=INTEGER},
            now(), #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.czx.yimem.entity.GroupMember">
    insert into rc_group_men
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="depId != null">
        dep_id,
      </if>
      <if test="mUserId != null">
        m_user_id,
      </if>
        create_time,
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="depId != null">
        #{depId,jdbcType=INTEGER},
      </if>
      <if test="mUserId != null">
        #{mUserId,jdbcType=INTEGER},
      </if>
      now(),
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czx.yimem.entity.GroupMember">
    update rc_group_men
    <set>
      <if test="depId != null">
        dep_id = #{depId,jdbcType=INTEGER},
      </if>
      <if test="mUserId != null">
        m_user_id = #{mUserId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czx.yimem.entity.GroupMember">
    update rc_group_men
    set dep_id = #{depId,jdbcType=INTEGER},
      m_user_id = #{mUserId,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
